* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #deeffa;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-decoration: underline;
    text-decoration-color: #0080ff;
    text-decoration-thickness: 5px;
}

main{
    background-color: #fff;
    width: 50%;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    font-weight: 600;
}

.img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    filter: drop-shadow(5px -2px 0px #0080ff);
    margin-bottom: 1em;
}

.job{
    color: #0080ff;
    margin-bottom: 1em;
}

.txt{
    margin-bottom: 0.5em;
    text-align: center;
}

.left, .right{
    color: #0080ff;
    margin-bottom: 1em;
}

.left{
    margin-right: 2em;
}

.btn{
    border: none;
    font-size: 0.9em;
    padding: 0.5em;
    border-radius: 10px;
    background-color: #0080ff;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover{
    transform: scale(110%);
}


